@model TravelWebSite.Models.Comments
@{
    ViewData["Title"] = "CommentUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Comment Update Page</h2>
<br />

@using (Html.BeginForm("BlogUpdate", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.UserName)
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Comment)
    @Html.TextAreaFor(x => x.Comment,new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Blog Update</button>
}